<div id="landing_page">

	<div id="intro">
		<h1>Welcome!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sit qui saepe amet architecto maiores voluptatem, iure possimus numquam officia, temporibus itaque, similique consequatur voluptate nulla quidem iste debitis, laborum!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sit qui saepe amet architecto maiores voluptatem, iure possimus numquam officia, temporibus itaque, similique consequatur voluptate nulla quidem iste debitis, laborum!</p>
		<%= content_tag :h4, "Sign Up" %>
		<div><%= render 'users/form' %></div>
	</div>

	<div id="users_list">
	<% @users.each do |u| %>
	  <%= content_tag :h2 , u.fname + ": " + u.type, class: "alluser" %>
	<% end %>
	</div>
	
</div>


