<div id="landing_page">
	<div id="intro">
		<h1>Hola!</h1>
		<h2>Welcome to Humuhumunukunukuāpuaa Shippig!</h2>
		<p>Looking to ship cargo in Hawaii?<br>Please sign up as a Customer and Login.<br>There you can submit a new Shipping Order Form.<br>Welcome back previous customers!<br>Please Login with your Email & Password above!</p><br>
		<p>Welcome all Captains!<br> Easily list your fleet, maintain your trip records<br>and keep the business flowing with active job listings<br>by our Hawaiian customers!<br>Please sign up below as a Captain,<br> or Login above with current account info!</p>
		<%= content_tag :h4, "Sign Up" %>
		<div><%= render 'users/form' %></div>
	</div>

	<div id="users_list">
	<% @users.each do |u| %>
	  <%= content_tag :h2 , u.fname + ": " + u.type, class: "alluser" %>
	<% end %>
	</div>
</div>


