/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#landing_page {
	background-image: url("islands_map.jpg");
	background-repeat: no-repeat;
	background-attachment: none;
	background-size: 100%;
	z-index: -1;
}
#logo {
	width: 30%;
	position: relative;
}
#fish {
	width: 20%;
	margin-bottom: -4%;
	position: relative;
	margin-left: 8%;
}
#header {
	z-index: 1;
	position: absolute;
	background-color: #ffffff;
}
#sign_in {
	text-align: right;
	width: 30%;
	float: right;
	border: 2px solid black;
}
.title {
	padding: 2px;
	border: 2px solid black;
}
.form {
	border: 2px solid black;
	text-align: right;
}
#sign_up {
	width: 50%;
	margin-left: 25%;
	padding: 10px;
}
#users_list {
	border: 2px solid black;
}
#intro {
	clear: both;
	background-color: rgba(244, 244, 244, 0.8);
	width: 600px;
	margin: 0 auto;
	border: 2px solid black;
	margin-left: 25%;
	padding: 10px;
	padding-top: 10%;
	/*position: absolute;*/
	z-index: 2;
}


